@font-face {
    font-family: ziti;
    src: url(../fonts/FZFWTongQPOPTJW.TTF);
}
#menu {
    position: fixed;
    right: 20px;
    top: 50%;
    width: 90px;
    margin: -160px 0 0;
    padding: 0;
    list-style-type: none;
    z-index: 70;
}

#menu li {
    margin-top: 10px;
    font: 20px ziti;
    font-weight: 600;
}

#menu a {
    display: block;
    padding: 10px 0;
    background-color: #fff;
    color: #0074EA;
    text-align: center;
    text-decoration: none;
}

#menu .active a {
    color: #fff;
    background-color: rgb(0, 116, 234);
}

.section {
    text-align: center;
    font: 18px ziti;
    color: #fff;
}

.screen-main {
    position: relative;
    width: 1280px;
    height: 840px;
    margin: 0 auto;
}

.screen-main .topText{
    height: 100px;
    width: 800px;
    background-color: rgba(255, 255, 255, .8);
    margin:20px auto;
    color: #575757 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .4);
    margin-bottom: 80px;
}

.science-inner {
    position: relative;
    width: 980px;
    height: 850px;
    margin: 0 auto;
    overflow: hidden;
}

.famous-inner {
    position: relative;
    width: 980px;
    height: 850px;
    margin: 0 auto;
    overflow: hidden;
}

.social-inner {
    position: relative;
    width: 980px;
    height: 850px;
    margin: 0 auto;
    overflow: hidden;
}

.net-inner {
    position: relative;
    width: 980px;
    height: 850px;
    margin: 0 auto;
    overflow: hidden;
}

.science-inner a {
    text-decoration: none;
    color: #004b85;
    float: left;
    position: absolute;
    display: inline-block;
    white-space: nowrap
}

.science-inner a:hover {
    color: #1c9cff
}

.science-inner .stiteml {
    padding-left: 37px;
}

.science-inner .stitemr {
    padding-right: 37px;
}

.science-inner .st1 {
    background-position: 0 4px
}

.science-inner .st2 {
    background-position: 0 -59px
}

.science-inner .st3 {
    background-position: 0 -59px
}

.science-inner .st4 {
    font-size: 48px;
    background-position: 0 -104px
}

.science-inner .st5 {
    background-position: 0 -195px
}

.science-inner .st6 {
    background-position: 0 -267px
}

.science-inner .st7 {
    background-position: 0 -244px;
    font-size: 48px
}

.science-inner .st8 {
    background-position: 0 -267px
}

.science-inner .st9 {
    background-position: 78px -350px
}

.science-inner .st10 {
    background-position: 79px -431px
}

.science-inner .st11 {
    background-position: 147px -502px
}

.science-inner .st12 {
    background-position: 342px -481px;
    font-size: 48px
}

.science-inner .st13 {
    background-position: 0 -573px;
    padding-left: 47px
}

.science-inner .st14 {
    background-position: 0 -626px;
    padding-left: 47px;
    font-size: 48px
}

.science-inner .st15 {
    background-position: 0 -646px;
    padding-left: 47px
}

.science-inner .st16 {
    background-position: 0 -646px;
    padding-left: 47px
}

.science-inner .st17 {
    background-position: 0 -732px;
    padding-left: 47px
}

.famous-inner a {
    text-decoration: none;
    color: #8a5e25;
    float: left;
    position: absolute;
    display: inline-block;
    white-space: nowrap
}

.famous-inner a:hover {
    color: #d58116
}

.famous-inner .faiteml {
    padding-left: 37px;
}

.famous-inner .faitemr {
    padding-right: 37px;
}

.famous-inner .fa1 {
    background-position: 61px 4px
}

.famous-inner .fa2 {
    background-position: 61px -103px
}

.famous-inner .fa3 {
    background-position: 151px -185px;
    font-size: 48px
}

.famous-inner .fa4 {
    background-position: 0 -312px
}

.famous-inner .fa5 {
    background-position: 0 -404px;
    font-size: 48px
}

.famous-inner .fa6 {
    background-position: 0 -426px
}

.famous-inner .fa7 {
    background-position: 0 -404px;
    font-size: 48px
}

.famous-inner .fa8 {
    background-position: 0 -762px;
    padding-left: 47px
}

.famous-inner .fa9 {
    background-position: 0 -901px;
    padding-left: 47px
}

.famous-inner .fa10 {
    background-position: 0 -1043px;
    padding-left: 47px
}

.famous-inner .fa11 {
    background-position: 0 -520px;
    font-size: 48px
}

.famous-inner .fa12 {
    background-position: 0 -648px
}

.famous-inner .fa13 {
    background-position: 0 -648px
}

.famous-inner .fa14 {
    background-position: 0 -1185px
}

.famous-inner .fa15 {
    background-position: 0 -1185px
}

.social-inner a {
    text-decoration: none;
    color: #535353;
    float: left;
    position: absolute;
    display: inline-block;
    white-space: nowrap
}

.social-inner a:hover {
    color: #bababa
}

.social-inner .soiteml {
    padding-left: 47px;
}

.social-inner .soitemr {
    padding-right: 47px;
}

.social-inner .so1 {
    background-position: 0 22px;
    font-size: 48px
}

.social-inner .so2 {
    background-position: 0 -118px
}

.social-inner .so3 {
    background-position: 0 -118px
}

.social-inner .so4 {
    background-position: 0 -595px
}

.social-inner .so5 {
    background-position: 0 -595px
}

.social-inner .so6 {
    background-position: 0 -1002px
}

.social-inner .so7 {
    background-position: 0 -723px
}

.social-inner .so8 {
    background-position: 0 -697px;
    font-size: 48px
}

.social-inner .so9 {
    background-position: 0 -723px
}

.social-inner .so10 {
    background-position: 0 -206px;
    font-size: 48px
}

.social-inner .so11 {
    background-position: 0 -344px
}

.social-inner .so12 {
    background-position: 0 -471px
}

.social-inner .so13 {
    background-position: 438px -859px;
    font-size: 48px
}

.social-inner .so14 {
    background-position: 78px -879px
}

.social-inner .so15 {
    background-position: 97px -879px
}

.net-inner a {
    text-decoration: none;
    color: #a75a48;
    float: left;
    position: absolute;
    display: inline-block;
    white-space: nowrap
}

.net-inner a:hover {
    color: #f9e493;
}

.net-inner .netiteml {
    padding-left: 37px;
}

.net-inner .netitemr {
    padding-right: 37px;
}

.net-inner .net1 {
    background-position: 61px 4px
}

.net-inner .net2 {
    background-position: 78px -101px
}

.net-inner .net3 {
    background-position: 78px -101px
}

.net-inner .net4 {
    background-position: 59px -101px
}

.net-inner .net5 {
    background-position: 133px -198px
}

.net-inner .net6 {
    background-position: 111px -198px
}

.net-inner .net7 {
    background-position: 0 -316px
}

.net-inner .net8 {
    background-position: 0 -439px
}

.net-inner .net9 {
    background-position: 0 -420px;
    font-size: 48px
}

.net-inner .net10 {
    background-position: 0 -439px
}

.net-inner .net11 {
    background-position: 0 -439px
}

.net-inner .net12 {
    background-position: 0 -566px;
    font-size: 48px
}

.net-inner .net13 {
    background-position: 132px -708px
}

.net-inner .net14 {
    background-position: 294px -831px;
    font-size: 48px
}

.net-inner .net15 {
    background-position: 390px -831px;
    font-size: 48px
}

.net-inner .net16 {
    background-position: 60px -851px
}

.net-inner .net17 {
    background-position: 60px -851px
}

.net-inner .net18 {
    padding-left: 50px;
    background-position: 2px -963px
}

.net-inner .net19 {
    padding-left: 50px;
    background-position: 2px -1079px
}

.net-inner .net20 {
    padding-left: 50px;
    background-position: 2px -1079px
}

.zanzhu {
    text-align: left;
}

.zanzhu-con {
    width: 880px;
    height: 273px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

.zanzhu h2 {
    position: relative;
    left: 28px;
    width: 880px;
    margin: 0 auto 20px;
    font: 500 30px "Microsoft Yahei";
    color: #856B37;
}

.zanzhu-con a {
    display: none;
    float: left;
    margin: 0 0 10px 28px;
}

.inner img {
    border-radius: 20px;
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .4);
}

.inner .stiteml,
.stitemr,
.faitemr,
.faiteml,
.soiteml,
.soitemr,
.netiteml,
.netitemr {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
}